name: Monitoraggio Prezzi Energia

on:
  schedule:
    - cron: '0 8 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Python Setup
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install
        run: pip install requests beautifulsoup4

      - name: Controlla dove sono i file
        run: ls -R

      - name: Esegui lo script
        run: python rilevazione_dati.py

      - name: Push dei risultati
        run: |
          git config --global user.name "GitHub Action Bot"
          git config --global user.email "actions@github.com"
          git add storico_prezzi.csv
          git commit -m "Update prezzi $(date)" || exit 0
          git push
